.navbar_search_aria {
    margin: 0px auto !important;
}
.searchPage_navbar_collapse {
    width: max-content !important;
    flex-grow: 0 !important;
}
.searchPage_searchAria, .searchPage_searchAria_nav_outside {
    margin: 0px auto !important;
    padding: 0 !important;
    width: 45%;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 5px 0px lightgray;
    border-radius: 15px;
}
.searchPage_searchAria_nav_outside {
    width: 90%;
}
.searchPage_searchAria_nav_outside_container {
    display: none;
}
@media(max-width: 768px) {
    .searchPage_searchAria {
        display: none;
    }
    .searchPage_searchAria_nav_outside_container {
        margin-top: 30px;
        display: block;
    }
}
.searchAria_input_text {
    width: fit-content;
    border-right: 1px solid lightgray;
    padding: 10px;
    overflow: hidden;
}
.searchAria_input_text > input {
    border: none;
    outline: none;
}
.searchAria_text {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    overflow: hidden;
}
.searchAria_text > h6 {
    margin: 0;
}
.searchPage_searchIcon {
    fill: green !important;
}
@media(max-width: 768px) {
    .searchAria_input_text_outside {
        width: 38%;
    }
    .searchAria_text_outside {
        width: 24%;
    }
}

@media(max-width: 425px) {
    .searchAria_input_text_outside {
        width: 30%;
    }
    .searchAria_text_outside {
        width: 40%;
    }
}
.searchResult_main_aria {
    margin-top: 20px;
}
.searchResult_btn_aria {
    margin-bottom: 50px;
}
.searchResult_btn {
    border-radius: 999px !important;
    text-transform: none !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
.searchResult_card {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
}
.searchResult_card_title_aria a {
    text-decoration: none !important;
    color: black;
    :hover {
        text-decoration: underline !important;
    }
}

.searchResult_card_img {
    width: 45%;
    height: 180px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
}
.searchResult_card_img_1 {
    background-image: url('../../images/search-card-1.jpg');
}
.searchResult_card_img_2 {
    background-image: url('../../images/home-2.jpg');
}
.searchResult_card_img_3 {
    background-image: url('../../images/search-card-3.jpeg');
}
.searchResult_card_title_aria {
    width: 55%;
    padding-left: 20px;
    p {
        color: gray;
    }
}
.card_p_1 {
    margin: 0;
}
.card_star_icon {
    fill: green !important;
}
@media(max-width: 425px) {
    .searchResult_card {
        display: block;
    }
    .searchResult_card_img {
        width: 100%;
        height: 250px;
    }
    .searchResult_card_title_aria {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .searchResult_card_img {
        margin: 0px auto;
    }
}